<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>{title_text}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>

    <body>
         <div id="header-wrapper">
            <div id="header" class="container">
                  <h1 id="logo"><a href="index.html">Main</a></h1>
                  <nav id="nav">
                     <ul>
                        <li>
                           <a href="#">선택</a>
                           <ul>
                              <li><a href="#">예매율순</a></li>
                              <li><a href="#">평점순</a></li>
                              <li><a href="#">관람객순</a></li>
                           </ul>
                        </li>
                        <li><a href="#"></a></li>
                        <li class="break"><a href="right-sidebar.html" id="btnSignin">
                           <i class="fas fa-sign-in-alt"></i>Manage</a></li>
                        <li><a href="no-sidebar.html" data-mdb-modal-init data-mdb-target="#basicExampleModal">SignIn</a></li>
                     </ul>
                  </nav>
                     <div class="modal top fade" id="basicExampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
                     <div class="modal-dialog  ">
                         <div class="modal-content">
                         <div class="modal-header">
                             <h3 class="modal-title" id="exampleModalLabel"><strong><i class="i.fas.fa-sign-in-alt"></i>Sign In</strong></h3>
                             <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                         </div>
                         <div class="modal-body">

                             <form style="width: 29rem;">
                             <div data-mdb-input-init class="form-outline mb-4">
                                 <input type="text" id="form4Example1" class="form-control" />
                                 <label class="form-label" for="form4Example1">Name</label>
                             </div>
                             <div data-mdb-input-init class="form-outline mb-4">
                                 <input type="email" id="form4Example2" class="form-control" />
                                 <label class="form-label" for="form4Example2">Email address</label>
                             </div>
                             <div data-mdb-input-init class="form-outline mb-4">
                                 <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                                 <label class="form-label" for="form4Example3">Message</label>
                             </div>
                             <div class="form-check d-flex justify-content-center mb-4">
                                 <input
                                 class="form-check-input me-2"
                                 type="checkbox"
                                 value=""
                                 id="form4Example4"
                                 checked
                                 />
                                 <label class="form-check-label" for="form4Example4">
                                 Send me a copy of this message
                                 </label>
                             </div>
                             <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4">Send</button>
                             </form>
                         </div>
                     </div>
                     </div>

            </div>
    {% block message %}

    {% endblock message %}
            <header>
                {% block user %}

                {% endblock user %}
            </header>
            {% block contents %}

            {% endblock contents %}
            <footer>

            </footer>
    </body>
</html> -->