{% extends "base2.html" %}

         <!-- Header -->
         {% block user2 %}
            {% if user=="Login" %}
            <a href="{{url_for('login')}}" data-mdb-modal-init data-mdb-target="#basicExampleModal">Login</a>
            {% else %}
            <!-- <p>user: {{user}}</p> -->
            <a href="{{url_for('logout')}}" >Logout</a>
            {% endif %}
         {% endblock user2 %}


            {% block contents %}
            <!-- Features 1 -->
            <div style="margin-left: 10%; margin-right: 10%; margin-top: 5%;">
               <!--NoticeBoard-->
               <div id="notice">
                  <!-- <h5>프로젝트</h5> -->
                  <div class="table-responsive-sm">
                     <input type="button" class="btn btn-primary btn-lg" value="추가" onClick="redirectToAddList()">
                     <p></p>
                     <script>
                         function redirectToAddList() {
                             window.location.href = "/add_list";
                         }
                     </script>
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                 <th>Movie Rank</th>
                                 <th>Movie Title</th>
                                 <th>Release Date</th>
                                 <th>Egg Gage</th>
                                 <th>Genre</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for movie_info in movies_from_db %}
                              <tr onclick='redirectToMovieDetail({{loop.index -1}})' style="cursor: pointer">
                                    <td> {{ movie_info.movie_rank }}위</td>
                                    <td>{{ movie_info.title }}</td>
                                    <td> <b>{{ movie_info.info }}</b></td>
                                    <td> <b>{{ movie_info.egg_gage }}</b></td>
                                    <td> {{ movie_info.genre }}
                                 </tr>
                          {% endfor %}
                          </tbody>
                          <script>
                           function redirectToMovieDetail(index) {
                               window.location.href = "/manage_list/" + index;
                           }
                       </script>
                      </table>
                      <!-- <div class="text-center">${}</div> -->
                  </div>
                  <br> <br>
              </div>
              {% endblock contents %}

            <!-- <div class="wrapper">
               <div class="container">
                  <div class="row">
                     <section class="col-6 col-12-narrower feature">

                     </section>
                     <section class="col-6 col-12-narrower feature">

                     </section>
                  </div>
               </div>
            </div> -->
            <!-- Features 2 and Footer sections, you can keep them as they are or modify as needed -->
            <!-- ... Existing content for Features 2 ... -->
            <!-- ... Existing content for Footer ... --><!-- 추가된 부분 -->


